body{
    position: relative;
}
.customSubHaderColor {
    background-color: #222222;
    height: 50px;
}

.custom-16 {
    font-size: 16px;
}

.custom-14 {
    font-size: 14px !important;
}

.custom-13 {
    font-size: 13px !important;
}

.custom-18 {
    font-size: 18px;
}

.customGoldHover {

    >a {
        transition: all 0.4s ease;
        text-decoration: none !important;
    }

    &:hover {

        >a {
            color: #ffb606 !important;
            text-decoration-line: underline !important;
            text-decoration-color: #ffb606 !important;
            text-decoration-style: solid !important;


        }
    }

}

.bgHeader {
    background-image: url(../img/bg-slide-2-new-1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

.myHamb {
    transform: rotate(90deg);
}

.searchHover {
    transition: all 0.4s ease;

    &:hover {
        color: #ffb606 !important;
    }
}

.customHeight {
    height: 70vh;
}

.customBgGold {
    background-color: #ffb606 !important;
}

.customTextGold {
    color: #ffb606 !important;
}


.customFontSizeForIconHeader {
    font-size: 50px;
}

.customBGDark {
    background-color: #222222b6;
}

.descForHeader {

    >div {
        transition: all 0.3s ease;

        &:hover {
            background-color: #222222;
        }
    }
}

.customBorderForCard {
    border: 0.5px solid rgba(128, 128, 128, 0.164);
}

.customBorderBottomForCard {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.164);

}

.customUitilForThumbnailForCard {
    left: 50%;
    transform: translate(-50%, -50%);
}

.customGreenForCard {
    color: #00d637;
}

.registerContent {
    background-image: url(../img/bg-lastest-new-now.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.534);
        filter: blur(20px);
        backdrop-filter: 4px;

    }
}

.customRoundedForBorderBottom {
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.customBgForChooseUs {
    background-color: #F3F3F3;
}

.customPTForChooseUs {
    padding-top: 80px;
}

.latestNews {
    background-image: url(../img/bg-register-now-new.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    color: white;
    z-index: 10;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.555);
        backdrop-filter: 4px;
        z-index: 0;
    }

}

.latestNews>.container-fluid {
    position: relative;
    z-index: 1;
}

.bullet {
    width: 25px;
    height: 25px;
    background-color: #a09797;
    border-radius: 50%;
    transition: all 0.4s ease;

    &:hover {
        background-color: #ffb606;
    }
}

.students {
    left: 50%;
    top: 105%;
    transform: translate(-50%, -105%);

}

.pointer {
    cursor: pointer;
}

.CustomHoverForLatestNews {

    >figure {


        >img {
            transition: all 0.3s ease;
        }
    }

    &:hover {
        >figure {


            >img {
                filter: grayscale(1);

            }
        }
    }
}

.customMT {
    margin-top: 120px;
}

.customHoverForThumbnail {
    >figure {
        overflow: hidden;

        >img {
            transition: all 0.4s linear;
        }

        &:hover {

            >img {
                scale: 1.3;
            }


        }
    }

}

.myPresent {

    position: absolute;
    right: 50px;
    bottom: 100px;
    background-color: rgba(255, 99, 71);
    padding: 20px;
    border-radius: 22% 78% 51% 49% / 79% 17% 83% 21%;
    animation: fancyBorder 3s linear 0s infinite alternate;


    >figure {

        border-radius: 49% 51% 51% 49% / 33% 54% 46% 67%;
        overflow: hidden;
        width: 200px;
        height: 200px;
        animation: fancyBorder2 3s ease 0s infinite alternate;


        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    >h2 {
        color: whitesmoke;
        font-size: 40px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-shadow: 0px 0 10px whitesmoke;
    }

    >p {
        color: wheat;
        font-size: 25px;
        text-shadow: 10px 10px 20px whitesmoke;
    }
}

@keyframes fancyBorder {
    to {
        border-radius: 65% 35% 49% 51% / 49% 89% 11% 51%;
    }
}

@keyframes fancyBorder2 {
    to {
        border-radius: 59% 41% 66% 34% / 43% 35% 65% 57%;
    }
}